@font-face {
    font-family: 'Playfair';
    src: url(./img\ &\ icons/PlayfairDisplay-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#5d3d91, #000000);
    background-repeat: no-repeat;
}

/*====== Header/Navigation Bar ======*/
header {
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.62);
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.62);

    animation: navAnim 2s ease forwards;
    transform: translate(50px, -90px);
    margin-top: 5px;
    width: 90%;
    padding: 10px;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: fixed;
    z-index: 1000;

    a {
        text-decoration: none;
        color: #ece4f6;
    }

    ul {
        text-align: center;
        align-self: center;
        list-style: none;
        display: flex;
        gap: 15px;
    }

    img {
        margin: 0%;
        display: none;
    }

    .navbtn:hover {
        transition: .5s;
        padding: 10px;
        border-radius: 10px;
        background-color: #593880;
    }

    .active-navbtn {
        padding: 10px;
        border-radius: 10px;
        background-color: #593880;
    }

}

@keyframes navAnim {
        to {
            transform: translate(50px, 30px);
        }
}

.sidebar {
    display: none;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 0 16px 16px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    position: fixed;
    z-index: 1001;
    flex-direction: column;
    height: 100%;

    a {
        text-decoration: none;
        color: aliceblue;
        width: 100%;
    }

    .navExtbtn {
        border-radius: 0 16px 16px 0px;
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .sidebar-in {
        text-align: center;
        padding: 30px;
    }

    .sidebar-in:hover{
        transition: .10s;
        box-shadow: 0 4px 30px rgba(195, 194, 194, 0.592);
        border: 1px solid white;
    }

    .sidebar-in-a {
        padding: 30px;
    }
}
@media (max-width: 700px) {
        header {
    
            ul {
                display: none;
            }
    
            img {
                display: block;
            }
        }
    
        .sidebar {
            display: none;
        }
}

/*====== Hero Section======*/
.bSec {
    display: flex;
    padding: 100px 150px 80px 150px;
    justify-content: center;

    img {
        height: 250px;
        width: auto;
        border-radius: 50px;
        margin-left: 40px;
        background: rgba(255, 255, 255, 0.26);
        border: 1px solid rgba(255, 255, 255, 0.62);
        backdrop-filter: blur(6.7px);
    }

    div {

        .heroPCont {
            display: inline-block;

            .gHead {
            font-family: 'Playfair', sans-serif;
            font-size: 50px;
            white-space: nowrap;
            overflow: hidden;
            border-right: 5px solid;
            width: 100%;
            animation:
                typing 1s steps(8) forwards,
                cursor .4s step-end infinite alternate;
            }
        }

        .hText {
                    font-family: monospace;
                    font-size: 20px;
                    color: white;
        }
    }
}

@keyframes typing {
    from {  width: 0}
}

@keyframes cursor {
    50% { border-color: transparent;}
}

/*======Main Body Sections======*/
.bSec-in {
    padding: 70px;
    justify-content: center;

    .pGraph {
        display: none;
    }

    .expCard {
        background: rgba(255, 255, 255, 0.022);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(151, 151, 151, 0.267);

        padding: 15px;
        margin-top: 10px;
    }

    .expCard:hover {
        box-shadow: 0 4px 30px rgba(195, 194, 194, 0.43);
        transition: .5s;
        margin: 5px;
        
        .pGraph  {
            display: block;
        }
    }

    .sLineups {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;

        .progLangIcon {
            width: auto;
            height: 50px;
        }
    }

    .stacksCard {
        background: rgba(255, 255, 255, 0.104);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(255, 255, 255, 0.62);

        padding: 15px;
        margin-top: 5px;
        width: 100%;
    }

    .stacksCard:hover {
        box-shadow: 0 4px 30px rgba(195, 194, 194, 0.592);
        text-align: center;
        transition: .5s;
    }

    .sLineups-Cont {
        text-align: center;
    }
}

@media (max-width: 700px){
    * {
            color: white;
        }
    header {
        text-align: center;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        animation: navAnim 2s ease forwards;
        transform: translate(10px, -50px);

        h2 a {
            color: #ece4f6;
        }
    }

    @keyframes navAnim {
        to {
            transform: translate(10px, 30px);
        }
    }

    .bSec {
            display: flex;
            padding-top: 100px;
            padding-right: 10px;
            padding-left: 10px;
            justify-content: center;
    
            img {
                height: 230px;
                width: auto;
                border-radius: 50px;
                margin-left: 10px;
                background: rgba(255, 255, 255, 0.26);
                border: 1px solid rgba(255, 255, 255, 0.62);
                backdrop-filter: blur(6.7px);
            }
    
            div {
                h1 {
                    font-family: 'Playfair', sans-serif;
                    font-size: 30px;
                }
    
                .hText {
                    font-family: monospace;
                    font-size: 15px;
                    color: white;
    
                    overflow: hidden;
                }
            }
        }

        .bSec-in {
        padding: 2%;

        .sLineups {
            padding: 0%;
            margin: 0%;

            .sLineups-Cont {
                padding: 0%;
                margin: 0%;

                .stacksCard {
                    width: 80%;
                }
            }
        }
    }
}

footer {
    margin-top: 100%;
    padding: 10px;
    backdrop-filter: blur(6.7px);
    box-shadow: 0 4px 30px rgba(195, 194, 194, 0.592);
    background: rgba(168, 168, 168, 0.211);
}