@font-face {
    font-family: 'Playfair';
    src: url(./img\ &\ icons/PlayfairDisplay-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#5d3d91, #1f1135);
    background-repeat: no-repeat;
}

a:hover{
        transition: 2s;
        text-decoration: underline;
}

/*====== Header/Navigation Bar ======*/
header {
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.62);
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.62);

    animation: navAnim 1s ease-out forwards;
    transform: translate(50px, -90px);
    opacity: 0%;
    margin-top: 5px;
    width: 90%;
    padding: 10px;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: fixed;
    z-index: 1000;

    a {
        text-decoration: none;
        color: #ece4f6;
    }

    ul {
        text-align: center;
        align-self: center;
        list-style: none;
        display: flex;
        gap: 15px;
    }

    svg {
        display: none;
    }

    .navbtn:hover {
        transition: .5s;
        padding: 10px;
        border-radius: 10px;
        background-color: #593880;
    }

}

@keyframes navAnim {
        to {
            transform: translate(50px, 30px);
            opacity: 100%;
        }
}

.sidebar {
    display: none;
    background: rgba(104, 98, 98, 0.26);
    border-radius: 0 16px 16px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-right: .2px solid rgba(255, 255, 255, 0.62);;
    backdrop-filter: blur(6.7px);
    position: fixed;
    z-index: 1001;
    flex-direction: column;
    height: 100%;
    padding: 10px;

    a {
        text-decoration: none;
        color: aliceblue;
        width: 100%;
    }

    .navExtbtn {
        border-radius: 0 16px 16px 0px;
        padding: 10px 5px 5px 0px;
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .sidebar-in {
        text-align: center;
        padding: 30px;
        border-radius: 20px;
    }

    .sidebar-in:hover{
        transition: .10s;
        background-color: rgba(236, 246, 254, 0.786);
        box-shadow: 0 4px 30px rgba(195, 194, 194, 0.592);
        border: 1px solid white;

        .sidebar-in-a {
            transition: .5s;
            color: #181A18;
        }
    }

}
@media (max-width: 700px) {
        header {
    
            ul {
                display: none;
            }
    
            img {
                display: block;
            }
        }
    
        .sidebar {
            display: none;
        }
}

/*====== Hero Section======*/
@keyframes typing {
    from {  width: 0px}
}
@keyframes cursor {
    50% { border-color: transparent;}
}

.Hero {
    display: flex;
    padding: 100px 150px 80px 150px;
    justify-content: center;

    img {
        height: 250px;
        width: auto;
        border-radius: 50px 10px;
        margin-left: 40px;
        background: rgba(255, 255, 255, 0.26);
        border: 1px solid rgba(255, 255, 255, 0.62);
        backdrop-filter: blur(6.7px);
        display: block;
    }

    div {

        .heroPCont {
            display: inline-block;

            .gHead {
            font-family: monospace;
            font-size: 50px;
            white-space: nowrap;
            overflow: hidden;
            border-right: 5px solid white;
            width: 225px;
            animation:
                typing 1s steps(8) forwards,
                cursor .4s step-end infinite alternate;
            }
        }

        .hText {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    color: white;
        }
    }
}

.heroPCont-stacks {
    display: inline-block;

        .gHead-stacks {
            font-family: 'Playfair', sans-serif;
            font-size: 50px;
            white-space: nowrap;
            overflow: hidden;
            border-right: 5px solid white;
            width: 100%;
            animation:
                typing 1s steps(10) forwards,
                cursor .4s step-end infinite alternate;
    }
}

.dullT {
    display: none;
}

/*======Main Body Sections======*/


@keyframes cardsAnim {
    from {
            transform: translate(0, 10px);
            opacity: 0;
    }
}

.bSec-in {
    padding: 70px;
    justify-content: center;
    animation: cardsAnim 1s ease forwards;

    .expCard {
        background: rgba(255, 255, 255, 0.022);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(151, 151, 151, 0.267);

        animation-delay: calc(var(--i) * 0.2s);
        animation: cardsAnim 1s ease-out forwards;

        padding: 15px;
        margin-top: 10px;
    }

    .expCard:hover {
        box-shadow: 0 4px 30px rgba(195, 194, 194, 0.43);
        transition: .5s;
        transform: translateY(-10px)
    }

    .sLineups {
        display: flex;
        gap: 20px;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        background-color: #c799ff82;
        padding: 20px;

        .progLangIcon {
            width: auto;
            height: 50px;
        }
        .stacksCard {
            background: rgba(255, 255, 255, 0.104);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6.7px);
            -webkit-backdrop-filter: blur(6.7px);
            border: .5px solid rgba(255, 255, 255, 0.62);

            padding: 15px;
            margin-top: 5px;
            width: 100%;
        }

        .stacksCard:hover {
            box-shadow: 0 4px 30px rgba(195, 194, 194, 0.592);
            background-color: #ece4f6;
            color: #181A18;
            transition: .5s;
        }

        .sLineups-Cont {
            padding: 30px;
            text-align: center;
            animation: cardsAnim 3s ease forwards;
        }
    }

}

@media (max-width: 700px){
    * {
            color: white;
        }
    header {
        text-align: center;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        animation: navAnim 2s ease forwards;
        opacity: 0%;
        transform: translate(10px, -50px);

        h2 a {
            color: #ece4f6;
            font-size: 20px;
        }
        svg {
            display: block;
            margin: 0%;
        }

    }
    @keyframes navAnim {
        to {
            transform: translate(10px, 30px);
            opacity: 100%;
        }
    }

    .Hero {
            display: flex;
            flex-direction: column;
            padding-top: 200px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 300px;
            justify-content: center;
            text-align: center;

            img {
                height: auto;
                width: 200px;
                border-radius: 50px 10px;
                align-self: center;
                margin-left: 10px;

                background: rgba(255, 255, 255, 0.26);
                border: 1px solid rgba(255, 255, 255, 0.62);
                backdrop-filter: blur(6.7px);
            }
    
            div {

                .gHead {
                    font-family: 'Playfair', sans-serif;
                    font-size: 30px;
                }
    
                .hText {
                    font-family: monospace;
                    font-size: 15px;
                    color: white;
                    text-align: justify;
                    margin-bottom: 50px;

                }
            }
        }

        .dullT{
            display: block;
            padding-bottom: 20px;
        }

        .bSec-in {
        padding: 2%;

        .expCard {
            height: 100px;
            overflow: scroll;
            scrollbar-width: none;
        }

        .sLineups {
            padding: 10%;
            .sLineups-Cont {
                padding: 10%;
                margin: 0%;
                .stacksCard {
                    width: 80%;
                }
            }
        }
    }
}

footer {
    margin-top: 100%;
    padding: 10px;
    backdrop-filter: blur(6.7px);
    box-shadow: 0 4px 30px rgba(195, 194, 194, 0.592);
    background: rgba(168, 168, 168, 0.211);
}